.mainWrapper {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;

  @include media(md) {
    margin-top: r(32);
    display: grid;
    grid-template-columns: repeat(2, r(360));
    grid-template-rows: r(200) r(200);
    grid-gap: r(25);
  }
  @include media(lg) {
    grid-template-columns: repeat(2, r(470));
    grid-template-rows: repeat(2, r(315));
    grid-gap: r(40);
  }
}
.paragraphWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: r(32) 0 r(32) 0;
  @include media(md) {
    padding: r(52) r(30) r(0) r(30);
  }
  @include media(lg) {
    padding: r(52) r(40) r(68) r(40);
  }
  p {
    font-size: r(16);
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    &:first-child {
      font-weight: 300;
    }
    @include media(md) {
      font-size: r(20);
      line-height: 28px;
    }
    @include media(lg) {
      font-size: r(29);
      line-height: 37px;
    }
  }
}

.cardWrapper {
  overflow: hidden;
  margin-top: r(10);
  border-radius: r(4);
  height: r(210);
  width: 100%;
  position: relative;
  background: linear-gradient(180deg, transparent, $tertiary);
  @include media(md) {
    margin-top: 0;
    height: 100%;
  }

  .title {
    text-transform: uppercase;
    position: absolute;
    left: r(40);
    font-size: 10px;

    top: r(20);
    z-index: 2;
    font-weight: bold;
    overflow: hidden;
    color: white;

    @include headline(14, 19);
    @include media(md) {
      @include headline(18, 24);
    }
    @include media(lg) {
      @include headline(24, 33);
      bottom: r(20);
      top: inherit;
      font-size: 1.2rem;
    }
  }

  .title2 {
    margin-bottom: 5%;
    font-size: 18px;
  }

  .details {
    
    text-transform: none;
    font-weight: normal;
    transition: opacity 0.6s, height 0.6s;
    padding-right: r(40);
    text-align: center;
    @include headline(14, 19);
    @include media(md) {
      @include headline(16, 22);
    }
    @include media(lg) {
      opacity: 0;
      @include headline(20, 27);
    }
  }

  .img {
    position: absolute !important;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
  }
}

.overlay {
  position: absolute !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  background: linear-gradient(180deg, transparent, $tertiary);
  z-index: 1;
  opacity: 0;
  transition: opacity 0.6s 0.3s;
}

.overlay2 {
  background-color: RGB(33, 74, 121, 0.5);
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.cardWrapper:hover > .overlay {
  opacity: 0.75;
  transition: opacity 0.6s;
}

.cardWrapper:hover .details {
  opacity: 1;
  transition: opacity 0.7s 0.2s, height 0.5s 0.1s;
}

.first {
  grid-row: 1/2;
  grid-column: 1/2;
}

.second {
  grid-row: 2/3;
  grid-column: 1/2;
}

.third {
  grid-row: 1/2;
  grid-column: 2/3;
}

.fourth {
  grid-row: 2/3;
  grid-column: 2/3;
}
